header {
  position: absolute;
  background-color: grey;
  height: 70px;
  color: white;
  font-family: "Exo 2", sans-serif;
  width: 100%;
}

body {
  background-color: midnightblue;
}

p {
  color: pink;
}

header::after {
  clear: both;
  content: "";
  display: table;
}

#header-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  z-index: 1;
}

#about {
  position: absolute;
  visibility: visible;
  text-align: justify;
  left: 20px;
  top: 130px;
  min-width: 300px;
  max-width: 90%;
  z-index: 200;
  font-size: calc(9px + 1vw);
}
.wrapper {
  position: relative;
  padding-top: 56.25%;
}
#about-img {
  position: relative;
  top: 260px;
  left: 5px;
  width: 90%;
  max-width: 1000;
  height: auto;
}

/*#descriptions {
  position: relative;
  font-size: calc(9px + 1vw)
  width: 100%;
}*/

#new-releases {
  position: fixed;
  visibility: visible;
  left: 20px;
  top: 280px;
  height: 100px;
  width: 150px;
  /*border-style: solid;
  border-color: white;
  border-radius: 5px;
  box-sizing: border-box;*/
}

#coming-soon {
  position: fixed;
  visibility: visible;
  left: 200px;
  top: 280px;
  height: 100px;
  width: 150px;
}

#bargin-bin {
  position: fixed;
  visibility: visible;
  left: 400px;
  top: 280px;
  height: 100px;
  width: 150px;
}

#form {
}

#video {
  position: relative;
  top: 850px;
}

#video-caption {
  position: relative;
  top: 1170px;
}

#form {
  position: absolute;
  top: 1250px;
}
nav ul {
  float: right;
  margin-right: 2em;
}
nav li {
  display: inline;
  padding: 1em;
  display: inline-block;
}

@media (max-width: 550px) {
  h1 {
    font-size: 1.25em;
  }
}
