header {
  position: relative;
  background-color: grey;
  height: 70px;
  color: white;
  font-family: "Exo 2", sans-serif;
  width: 100%;
}

body {
  background-color: midnightblue;
}

p {
  color: pink;
}

header::after {
  clear: both;
  content: "";
  display: table;
}

#header-img {
  position: absolute;
  top: -57px;
  left: 0;
  width: 200px;
  z-index: 1;
}

#about {
  text-align: justify;
  min-width: 300px;
  max-width: 90%;
  font-size: calc(9px + 1vw);
}
.wrapper {
  position: relative;
  padding-top: 56.25%;
}
#about-img {
  position: relative;
  width: 90%;
  max-width: 1000px;
  height: auto;
}

#descriptions {
  position: relative;
  font-size: calc(9px + 1vw);
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

#video {
  position: relative;
}

#video-caption {
  position: relative;
}

nav ul {
  float: right;
  margin-right: 2em;
}
nav li {
  display: inline;
  padding: 1em;
  display: inline-block;
}

@media (max-width: 550px) {
  h1 {
    font-size: 1.25em;
  }
}
